// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td.underway {
  background-color: lightgreen;
}

.table > thead > tr > th.current {
  background-color: orange;
  border-right: 2px dashed orange;
  border-left: 2px dashed orange;
}

.table > tbody > tr > td.current {
  border-right: 2px dashed orange;
  border-left: 2px dashed orange;
}
