// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table > thead > tr > th.current {
  background-color: orange;
  border-right: 2px dashed orange;
  border-left: 2px dashed orange;
}

.table > tbody > tr > td.current {
  border-right: 2px dashed orange;
  border-left: 2px dashed orange;
}

.table > tbody > tr > td.discovery {
  background-color: #d1c4e9;
}

.table > tbody > tr > td.wireframes {
  background-color: #bbdefb;
}
.table > tbody > tr > td.visuals {
  background-color: #90caf9;
}
.table > tbody > tr > td.design {
  background-color: #64b5f6;
}
.table > tbody > tr > td.alpha {
  background-color: #dcedc8;
}
.table > tbody > tr > td.beta {
  background-color: #c5e1a5;
}
.table > tbody > tr > td.production {
  background-color: #aed581;
}

.table > tbody > tr > td.close-it-off {
  background-color: #fff176;
}
